<ons-page ng-controller="menu2-5Ctr" id="menu2-5Page">
    <article class="container" style="text-align: center">
        <ons-button id="saveButton" type="button" ng-click="saveClick()">保存する</ons-button>
        <ons-button id="resetButton" type="button" ng-click="resetClick()">リセットする</ons-button>
        <div class="wrapper">
            <canvas class="relative" id="maskCanvas" ng-click="canvasClick($event)"　moz-opaque></canvas>
        </div>
    </article>

    <!--モーダルレイヤー-->
    <ons-modal var="modal">
        <ons-icon icon="ion-load-c" spin="true"></ons-icon>
        <br>
        <br> 処理中
        <br>しばらくお待ちください。
    </ons-modal>
    
</ons-page>