<ons-page ng-controller="menu2Ctr" id="menu2Page">
    <div class="content" style="text-align: center">
        <ons-button id="snapButton" type="button" ng-click="snapClick()">撮影する</ons-button>
        <ons-button id="albumButton" type="button" ng-click="albumClick()">写真を選択</ons-button>
        <ons-button id="saveButton" type="button" ng-click="saveClick()">保存する</ons-button>
        <div class="wrapper">
            <canvas class="relative" id="photCanvas"></canvas>
        </div>
    </div>

    <!--モーダルレイヤー-->
    <ons-modal var="modal">
        <ons-icon icon="ion-load-c" spin="true"></ons-icon>
        <br>
        <br> 処理中
        <br>しばらくお待ちください。
    </ons-modal>
    
</ons-page>