<ons-page ng-controller="tab2Ctr" id="tab2Page">
    <div class="content" style="text-align: center; overflow: hidden;">
        <h4>メモ</h4>
        <ons-row height="20%">
            <ons-col width="80%">
                <textarea id="memo" style="width: 95%; height:50%;" ng-model="memoTextarea" ng-change="editChange()"></textarea>
            </ons-col>
            <ons-col width="20%">
                <ons-button modifier="cta" id="save" ng-click="save()" type="button" class="button">保存</ons-button>
            </ons-col>
        </ons-row>
        <div class="content" style="bottom: 0; height:85%; overflow: auto;">
            <ons-list id="memoList">
                <ons-gesture-detector ng-hold="listItemHold()">
                    <ons-list-item class="list__item--tappable list__item__line-height" ng-attr-id="{{id}}" ons-lazy-repeat="ItemListDelegate" tappable>
                        <ons-icon icon="fa-trash"></ons-icon>
                        {{ memo }}
                    </ons-list-item>
                </ons-gesture-detector>
            </ons-list>
        </div>
    </div>
</ons-page>